<% content_for :title do %>contact Us<% end %>
<center>
<h3>Contact Us</h3>
<p>
This web application was created by Jared Mull
</p>
<br>
</center>
<p style="font-size:32px; padding:50px" >
<strong>
Jared Mull
<br>
Phone:510-755-5877
<br>
Email: jared.mull@hgs.hiddengeniusproject.org
<br>
<a href="jaredMull.html">Jared's Website</a>
<br>
<br>
<br>
Ceasar Chavez
<br>
Phone:
<br>
Email:558ceachav@nhusd.k12.ca.us
<br>
<a href="">Ceasar's Website</a>
<br>
<br>
<br>
Jelani Tom
<br>
Phone:
<br>
Email: jelani.tom@hgs.hiddengeniusproject.org
<br>
<a href="">Jelani's Website</a>
<br>
</strong>
</p>
<br>
<br>
<br>
Fabrizio Quintero
<br>
Phone:
<br>
Email: 880fabquin@nhusd.k12.ca.us
       spaceshuttle814@gmail.com
<br>
<a href="">Fabrizio's Website</a>
<br>
</strong>
</p>
<br>
<br>
<br>
Lynareo Wilson
<br>
Phone:
<br>
Email: 163lynwils@nhusd.k12.ca.us
<br>
<a href="">Lynareo's Website</a>
<br>
</strong>
</p>
