<% content_for :title do %>How It Works<% end %>
<center>
<h3>How it Works</h3>
</center>
<strong>
  <p style="font-size:25px">Our Saving Method</p>
</strong>
<p style="font-size:18px; padding-left: 35px;" >Duis interdum fermentum sem, vel rhoncus ex vestibulum in. Ut rhoncus laoreet diam non venenatis. In posuere dolor ut viverra tincidunt. Pellentesque in massa vel enim ultricies porttitor id sit amet ipsum. Fusce enim arcu, sagittis non nisi in, pharetra commodo quam. Vivamus gravida et metus vel congue. Quisque nunc sem, vulputate non turpis nec, pretium bibendum urna. Nullam ac felis neque. Nulla erat arcu, imperdiet quis sodales in, auctor et leo. Praesent eros sem, lacinia et elit eget, dapibus convallis eros.
</p>
<br>
<br>
<br>
<strong>
  <p style="font-size:25px">Why It Helps You Save</p>
</strong>
<p style="font-size:18px; padding-left:35px">Integer sit amet vehicula nulla. Phasellus dapibus ultricies nibh, id commodo purus rutrum vitae. Mauris eu nunc risus. Nullam luctus aliquet velit, sit amet pulvinar est volutpat ut. Aliquam ultricies est gravida lacus ullamcorper vestibulum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris non rhoncus sem. Nulla ac ornare arcu. Aenean egestas lorem nec lacus dictum, sed tempus dolor placerat. Ut id libero sit amet felis eleifend interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum varius urna risus, et semper justo pulvinar vel. Mauris eu ante eu enim vestibulum pellentesque vel nec sapien. Suspendisse dignissim, risus ac tincidunt sollicitudin, tortor nisi lacinia purus, ornare maximus felis ex eget metus.
</p>
<br>
<br>
<br>
<strong>
  <p style="font-size:25px">How Do You Gain Points?</p>
</strong>
<p style="font-size:18px; padding-left: 35px">Etiam id felis lacinia nisl venenatis blandit. Duis euismod aliquet lobortis. Morbi tempor vestibulum hendrerit. Sed consectetur pellentesque lacinia. Ut convallis euismod ante, placerat congue nibh aliquam vitae. Maecenas sit amet odio eget tortor ultrices scelerisque eget vel arcu. Phasellus quis venenatis dui. Donec congue imperdiet hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras elementum pulvinar porta.
</p>
