<% content_for :title do %>pointShop<% end %>

<center>
  <strong>
    <h2>The Point Shop</h2>
  </strong>
  <p align="left" style="padding-left:220px; font-size:25px">
      The Jackpot
  </p>
</center>
<svg height="450" width="600" style="float:left;padding-left:75px"  >
  <circle cx="220" cy="220" r="200" stroke="green" stroke-width="20" fill="#2c2f33"  />
</svg>
<article>
  <p style="font-size:35px ;padding-top: 100px">
      Your Points:
      <br>

      Tickets Bought:
    </p>
</article>

<center>

  <p style="font-size:30px;padding-top:450px">
      Dont know how the points work? Go to this Page
      <%= link_to 'How It Works', page_path('howItWorks'), class: 'btn btn-primary btn-large' %>
      to Find Out.
  </p>
</center>
