<%# add navigation links to this file %>
<li><%= link_to 'How It Works', page_path('about') %></li>
<li><%=link_to 'Plans', page_path('plans') %></li>
<li><%=link_to 'Your Info', page_path('yourinfo') %></li>
<li><%=link_to 'Contact Us', page_path('contactUs') %></li>
